.search,
.search-result {
    width: 361px;
}
.search {
    
    position: relative;
    width: 361px;
    height: var(--search-height);
    display: flex;
    padding-left: 16px;
    background: rgba(22, 24, 35, 0.06);
    border-radius: var(--search-border-radius);
    border: 1.5px solid transparent;
    input {
        flex: 1;
        height: 100%;
        padding-right: 40px;
        color: var(--black);
        font-size: 1.6rem;
        background-color: transparent;
        caret-color: var(--primary);
    }
    input:not(:placeholder-shown) ~ .search-btn {
        color: rgba(22, 24, 35, 0.75);
    }
    &::after {
        position: absolute;
        content: '';
        top: var(--search-top-specer);
        right: var(--search-button-width);
        height: calc(var(--search-height) - var(--search-top-specer) * 2);
        width: 1px;
        background-color: rgba(22, 24, 35, 0.12);
    }
    &:focus-within {
        border: 1.5px solid rgba(22, 24, 35, 0.2);
    }
}
.search-title {
    font-size: 1.4rem;
    font-weight: 600;
    color: rgba(22, 24, 35, 0.5);
    padding: 5px 12px;
}

.clear,
.loading {
    position: absolute;
    right: calc(var(--search-button-width) + 16px);
    top: 50%;
    transform: translateY(-50%);
    color: rgba(22, 24, 35, 0.34);
}
.loading{
    animation: spinner 0.8s linear infinite;
}
@keyframes spinner {
    from{
        transform: translateY(-50%) rotate(0);
    }
    to{
        transform: translateY(-50%) rotate(360deg);
    }
    
}

.search-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--search-button-width);
    height: 100%;
    border-top-right-radius: var(--search-border-radius);
    border-bottom-right-radius: var(--search-border-radius);
    font-size: 1.8rem;
    color: rgba(22, 24, 35, 0.34);
    &:hover {
        cursor: pointer;
        background-color: rgba(22, 24, 35, 0.03);
    }
    &:active {
        background-color: rgba(22, 24, 35, 0.06);
    }
}
